<section class="banner">
  <div class="media relative bg-center bg-no-repeat bg-cover banner-text-mask" style="background-image: url('/assets/images/banner-homepage.png')">
    <video muted autoplay loop poster="/assets/images/banner-homepage.png">
      <source src="/assets/video/banner-home.mp4">
    </video>
    <div class="left-0 z-10 right-0 bottom-0 py-20 md|py-40 2xl|py-60 2xl|pb-100 absolute px-15 md|px-30 text-mask-black">
      <div class="container text-white">
        <div class="md|mx-2/12">
          <div class="why-chaoyang-banner-title font-bold mb-0 2xl|mb-20">Welcome to Chaoyang District</div>
        </div>
      </div>
    </div>
  </div>
</section>
<h1>
  Homepage works!
</h1>

<h1>
  Homepage works!
</h1>
<h1>
  Homepage works!
</h1>
<h1>
  Homepage works!
</h1>
<h1>
  Homepage works!
</h1>
